/* David Jagodowski - HW04 */

body  { 
 /* background: #000000; */
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
 }

 h1  {
 	font-size: 4em;
 	line-height: 1.5em;
 	text-align: center;
  font-weight: bold;
 }

h2  {
	font-size: 2.8em;
  line-height: 1.7em;
  text-align: center;
}

h3  {
  font-size: 1.4em;
  line-height: 1.1em;
  color: gold;
  /*text-align: center; */ 
}


#container {
  width: 640px;
 border: 4pt solid #000; 
  margin-left: 10px;
  margin-top: 10px;
  background-image: url("../images/background1.jpg"); 
}

#titleDiv {
  /*border: 1pt solid lightblue; */
   color: gold; 

}

#instructionDiv {
  width: 95%;
  padding: 15px;
  margin-bottom: 5px;
  font-size: .9em;
  /* border: 1pt solid lightblue; */
  color: black;
  border-bottom: 1pt solid lightblue;
}

#targetNumDiv {
  display: block; 
  width: 55%;
  /* min-height: 80px; */
  padding: 15px;
  margin-bottom: 15px;
  width: = 60%;
  /* border: 1pt solid lightblue; */
  float: left;
}

.targetNumClass {
  font-size: 1.2em;
}

#targetNumId {
  color: gold;
  font-weight: bold;
}

#scoreboardDiv {
  display: block;
  width: 95%;
  /* min-height: 80px;
 */  padding: 15px;
  margin-bottom: 15px;
  /* border: 1pt solid lightblue; */
  width: 30%;
  float: right;
}

#scoreboardId {
 font-size: 1.2em;

}

#winsId {
  color: gold;
  font-weight: bold;
}

#lossesId {
  color: gold;
  font-weight: bold;
}

#clearButtonId {
  font-size: .6em;
  line-height: 1.2em;
  text-align: right;
}

#clrButton {
  width: 20px;
  height:20px;  
}

.scoreboardClass {
  font-size: 1.2em;
}

#crystalDiv {
  clear: both;
  width: 95%;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1pt solid lightblue;
  background-color: #0098FF;
  background-color: #000;
}

#totalScoreDiv {
  clear: both;
  width: 95%;
  padding: 15px;
  margin-bottom: 15px;
  border-top: 1pt solid lightblue;
}

#totalScoreId {
  font-size: 2.2em;
  color: gold;
  font-weight: bold;
}

#gameStatusDiv  {
  clear: both;
  width: 95%;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  border-top: 1pt solid lightblue;
}

#gameStatusId {
  color: yellow;
}

li {   /*Undo what the reset.css file does to list items */ 
  display: list-item;
  list-style-position: inside;
  list-style-type: disc;
  list-style-image: none;
  text-indent: 12px;

}

table {
  width: 100%;
  text-align: center;
}

#jewel1,
#jewel2,
#jewel3,
#jewel4 {
  width: 96px;
  height: 96px;
}

#replay {
  color: red;
}